/* This is a comment in CSS */

h1 {
    color: #D5E675;
    font-family: impact, verdana, sans-serif;
}

h2 {color: #4987AD;
text-align: center;
}

section, div {
    background-color: #E4F0A1;
}

div p {
    color: #4987AD;
}

section>ul {
    color: #4987AD;
}

li+ul {
    color: #60A6F5;
}

.#FFA69E_color {
    color: #FFA69E;
    font-size: small;
    font-family: fantasy, cursive, sans-serif;
}

blockquote {
    background-color: #9CCAFF;
}

header {
    background-color: #4987AD;
}

/* Top Navigation Menu Styles */
#top_nav {
    background-color: #D5E675;
}

nav.top_nav ul {
    list-style: none;
}
nav.top_nav ul li {
    float: left;
    margin-right: : .05em;   
}

nav.top_nav ul li a {
    padding: 0.25em 1em;
    text-decoration: none; /* no underline */
    background-color: #4987AD;
    color: #D5E675;
    border: 2px solid black;
    border-radius: 1em 1em 0px 0px; /* round corners */
}

nav.top_nav ul li a:hover, nav ul li a:focus {
    color: #FA9B9C;
    box-sizing: larger;
    background-color: white;
    font-weight: bold;
}

/* Unvisited Link */
a:link {
    color: #FA9B9C;
}

/* Visited Link */
a:visited {
    color: #FA9B9C;
}

/* Mouseover Link */
a:hover {
    color: #4987AD;
    font-size: larger;
}

/* Selected Link */
a:active {
    color: #D5E675;
}